<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>


<div class="text-center">
    <div class="card">
    <img class="card-img rounded mx-auto" src="https://res.cloudinary.com/zhulbars/image/upload/c_scale,h_210,w_305/v1637929220/depositphotos_316048020-stock-photo-girls-teenagers-at-a-table_lcaze6.jpg" alt="School" style="width:20%;">
         <div class="card-img-overlay">
            <a th:href="@{/menu/chilrldren/school}">Меню в бургаски училища</a>
        </div>
    </div>

    <div class="card">
        <img class="card-img rounded mx-auto" src="https://res.cloudinary.com/zhulbars/image/upload/c_scale,h_210,w_305/v1637929228/istockphoto-604344578-612x612_z7xrf0.jpg" alt="Kindergarten" style="width:20%;">
        <div class="card-img-overlay">
            <a th:href="@{/menu/chilrldren/kindergarten}">Меню в бургаски градини <br/> и ясла</a>
        </div>
    </div>
</div>

</body>


