<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HappyLunch</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/additional.css"/>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>
<body>
<div class="my-error">

        <h2 class="fw-bold">OOPS....</h2>
        <p>Looks like someone went to buy more presents...</p>
        <p>Please visit our
            <a th:href="@{/home}" class="link-dark">HOME</a>
            page</p>

</div>

</body>
</html>