<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>


<body>

<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="profile-card p-3 py-4">
                <div class="text-center mt-3">
<h5>***** МЕНЮ ЗА ДНЕС *****</h5>

<table class="table table-warning table-striped">
    <thead>
    <tr>
        <th scope="col">Име на ястие</th>
        <th scope="col">Тегло, гр</th>
    </tr>
    </thead>
    <tbody >
    <tr th:each="k : ${kindergarten}" th:object="${k}">
        <td th:text="*{mealName}">Пиле с ориз</td>
        <td th:text="*{weight}">250</td>
    </tr>
    </tbody>
</table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>