<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container">
    <h2 class="text-center text-black">Add new menu</h2>
    <form
            th:action="@{/menus/add}"
            th:method="POST"
            th:object="${menuAddBindModel}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div>
            <div class="form-group">
                <label for="inputName" class="col-form-label text-white">Meal name</label>
            </div>
            <div class="form-group">
                <input name="mealName"
                       th:field="*{mealName}"
                       th:errorclass="is-invalid"
                       required minlength="1" maxlength="100"
                       type="text"
                       id="inputName"
                       class="form-control"
                       aria-describedby="inputNameError">
                <small id="inputNameError"  th:errors="*{mealName}"
                       class="invalid-feedback rounded">Meal name length must be between 1 and 100 symbols</small>

            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputWeight" class="col-form-label text-white">Meal weight</label>
            </div>
            <div class="form-group">
                <input name="mealWeight"
                       th:field="*{weight}"
                       th:errorclass="is-invalid"
                       required minlength="1" maxlength="100"
                       type="text"
                       id="inputWeight"
                       class="form-control"
                       aria-describedby="inputWeightError">
                <small id="inputWeightError"  th:errors="*{weight}"
                       class="invalid-feedback rounded">Meal weight length must be between 1 and 100 symbols</small>

            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputPrice" class="col-form-label text-white">Meal price</label>
            </div>
            <div class="form-group">
                <input name="mealPrice"
                       th:field="*{price}"
                       th:errorclass="is-invalid"
                       required minlength="1" maxlength="100"
                       type="text"
                       id="inputPrice"
                       class="form-control"
                       aria-describedby="inputPriceError">
                <small id="inputPriceError"  th:errors="*{price}"
                       class="invalid-feedback rounded">Meal price should be positive</small>

            </div>
        </div>

        <div>
            <div class="form-group">
                <label for="inputRestaurant" class="col-form-label text-white">Restaurant name</label>
            </div>
            <div class="form-group">
                <input name="restaurantName"
                       th:field="*{restaurantName}"
                       th:errorclass="is-invalid"
                       required minlength="1" maxlength="50"
                       type="text"
                       id="inputRestaurant"
                       class="form-control"
                       aria-describedby="inputRestaurantError">
                <small id="inputRestaurantError"  th:errors="*{restaurantName}"
                       class="invalid-feedback rounded">Restaurant name must be valid</small>

            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Add Menu"/>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>