<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/head::head"></head>
<body>
<div th:replace="fragments/navbar :: navbar">
    Navbar
</div>

<div class="container">
    <h2 class="text-center text-black">Add menu</h2>
    <form
            th:action="@{/menus/add}"
            th:method="POST"
            th:object="${menuAddBindModel}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div>
            <div class="form-group">
                <label for="inputMealName" class="col-form-label text-white">Meal name</label>
            </div>
            <div class="form-group">
                <input name="mealName"
                       th:field="*{mealName}"
                       th:errorclass="'is-invalid bg-danger'"
                       required minlength="1" maxlength="100"
                       type="text"
                       id="inputMealName"
                       class="form-control"
                       aria-describedby="inputMealNameError">
                <small id="inputMealNameError"  th:errors="*{mealName}"
                       class="invalid-feedback rounded">Meal name length must be between 1 and 100 symbols</small>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="inputWeight" class="col-form-label text-white">Weight of the dish:</label>
            </div>
            <div class="form-group">
                <input name="weight"
                       th:field="*{weight}"
                       type="text"
                       id="inputWeight"
                       class="form-control">
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="inputPrice" class="col-form-label text-white">Price in lv:</label>
            </div>
            <div class="form-group">
                <input name="price"
                       th:field="*{price}"
                       th:errorclass="'is-invalid bg-danger'"
                       required min="1"
                       type="text"
                       id="inputPrice"
                       class="form-control"
                       aria-describedby="inputPriceError">
                <small id="inputPriceError"  th:errors="*{price}"
                       class="invalid-feedback rounded">Price should be a positive number</small>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="inputRestaurantName" class="col-form-label text-white">Restaurant Name:</label>
            </div>
            <div class="form-group">
                <input name="restaurantName"
                       th:field="*{restaurantName}"
                       th:errorclass="'is-invalid bg-danger'"
                       required minlength="1" maxlength="50"
                       type="text"
                       id="inputRestaurantName"
                       class="form-control"
                       aria-describedby="inputPhoneNumberError">
                <small id="inputPhoneNumberError"  th:errors="*{restaurantName}"
                       class="invalid-feedback rounded">Restaurant name length must be between 1 and 50 symbols</small>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Add Menu"/>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
</html>